.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 50px;
  background-color: rgba(237, 195, 147, 0.11); 
  backdrop-filter: blur(5px); 
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.sidebar-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 8px;
  background: transparent;
  cursor: pointer;
  text-decoration: none;
}

.sidebar-icon {
  width: 40px;
  height: 40px;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.sidebar-button:hover .sidebar-icon {
  transform: scale(1.1);
}